body {
    background-image: url("../images/background.jpg");
  }
  
h1 .jumbotron {
    color: whitesmoke;
    left: 50%;
    top: 50%;
    text-align: center;
}
.jumbotron {
    color: whitesmoke;
    background-image: url("../images/Japanese.jpg");
    background-size: cover;
    background-position-y: 40%;
    margin-top: 1em;
    padding-top: 12em;
    padding-bottom: 12em;
}
.btn-primary {
    color: whitesmoke;
    background-color: transparent !important;
    border-color: purple !important;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid;
    cursor: pointer;
    margin: 10px;
}
